<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.mauroartioli.syncfavoritos</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Applications/SyncFavoritos.app/Contents/MacOS/SyncFavoritos</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/syncfavoritos.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/syncfavoritos.log</string>
  </dict>
</plist>
